@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="About Page" />
    <meta name="keywords" content="About Keyword" />
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/images/about.jpg" alt="" height="700" width="800">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                            <span class="section-heading-lower">About Our Cafe</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus orci faucibus dolor elementum consequat. Integer efficitur purus dignissim lacus viverra, non sodales arcu convallis. Duis sagittis lobortis quam et pretium. Nulla facilisi. Nulla facilisi. Vivamus viverra hendrerit urna sit amet aliquam. Fusce leo risus, fermentum vel ipsum vitae, tempor semper dolor. Praesent bibendum porttitor orci ut cursus. Sed iaculis suscipit metus, quis tincidunt mauris.</p>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus orci faucibus dolor elementum consequat. Integer efficitur purus dignissim lacus viverra, non sodales arcu convallis. Duis sagittis lobortis quam et pretium. Nulla facilisi. Nulla facilisi. Vivamus viverra hendrerit urna sit amet aliquam. Fusce leo risus, fermentum vel ipsum vitae, tempor semper dolor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>