@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Index Page" />
    <meta name="keywords" content="Index Keyword" />
}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/images/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Fresh Coffee</span>
                    <span class="section-heading-lower">Worth Drinking</span>
                </h2>
                <p class="mb-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus orci faucibus dolor elementum consequat. Integer efficitur purus dignissim lacus viverra, non sodales arcu convallis. Duis sagittis lobortis quam et pretium. Nulla facilisi. Nulla facilisi. Vivamus viverra hendrerit urna sit amet aliquam. Fusce leo risus, fermentum vel ipsum vitae, tempor semper dolor. Praesent bibendum porttitor orci ut cursus. Sed iaculis suscipit metus, quis tincidunt mauris.
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus orci faucibus dolor elementum consequat. Integer efficitur purus dignissim lacus viverra, non sodales arcu convallis. Duis sagittis lobortis quam et pretium. Nulla facilisi. Nulla facilisi. Vivamus viverra hendrerit urna sit amet aliquam. Fusce leo risus, fermentum vel ipsum vitae, tempor semper dolor. Praesent bibendum porttitor orci ut cursus. Sed iaculis suscipit metus, quis tincidunt mauris.</p>
                </div>
            </div>
        </div>
    </div>
</section>