@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Products Page" />
    <meta name="keywords" content="Products Keyword" />
}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Blended to Perfection</span>
                        <span class="section-heading-lower">Coffees &amp; Teas</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/images/products-01.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus orci faucibus dolor elementum consequat. Integer efficitur purus dignissim lacus viverra, non sodales arcu convallis. Duis sagittis lobortis quam et pretium. Nulla facilisi. Nulla facilisi. Vivamus viverra hendrerit urna sit amet aliquam. Fusce leo risus, fermentum vel ipsum vitae, tempor semper dolor.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mr-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                        <span class="section-heading-lower">Bakery &amp; Kitchen</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/images/products-02.jpg" alt="">
            <div class="product-item-description d-flex ml-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Maecenas pharetra risus vitae enim tempor scelerisque. Curabitur feugiat nec mi a cursus. Duis ac ex ut nulla lobortis sollicitudin eget vel lorem. Cras vitae.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">From Around the World</span>
                        <span class="section-heading-lower">Bulk Speciality Blends</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/images/products-03.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Fusce a pharetra felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum eu dictum eros. Nullam feugiat eu velit at cursus. Nulla in risus.</p>
                </div>
            </div>
        </div>
    </div>
</section>